---
import Section from "../Section.astro";
import { basics } from "@cv";

const { summary } = basics;
---

<Section title="Sobre mí">
  <p>{summary}</p>
</Section>

<style>
  html.dark p {
    color: #a0a0a0;
  }
</style>
